@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color0-blanco: #ffffff;
    --color1-med-neg: #0d0d0d;
    --color2-med-blan: #f2f2f2;
    --color3-plo-azu: #5e6a8c;
    --color4-med-azu: #4960a6;
    --color5-cas-azu: #2e3559;
    --color6-color3-opa: #56638ce0;
    --color7-azu-opa: #252b476c;
    --color8-color3-opa1: #868ea667;
    --color9-vino: #8c1c31;
}

body{
    background: var(--color2-med-blan);
}

.container{
    width: 100%;
    position: relative;
}

.container-historia-cover{
    width: 100%;
    height: 350px;
    position: relative;
    margin-top: 100px; 
    background-image: url(../imagen/historia/historia.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
}

.container-historia-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(38, 172, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}

.container-historia-titu{
    width: 800px;
    height: 350px; 
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1; 
}

.container-historia-titu h1{
    font-size: 60px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}

.container-historia-titu p{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

@media(max-width: 800px){

    .container-historia-cover{
        height: 250px;
    }

    .container-historia-titu{
        width: 100%;
        margin-left: 10px;
    }

    .container-historia-titu h1{
        font-size: 40px;
    }
}

/*************** container-Historia **************/
.container-historia-all{
    width: 100%;
    /*height: 500px;*/
}

.container-historia{
    width: 1200px;
    /*height: 500px;*/
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.container-historia-info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.historia p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}

.historia h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
}

@media(max-width: 1200px){

    .container-historia{
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
}

/*************** Linea de historia **************/
html{
    scroll-behavior: smooth;
}

.linea-tiempo{
    width: 1200px;
    margin-top: 40px;
    /*background: blue;*/
    margin: auto;
}

.LT-titulo {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    font: normal 38px / normal "Warnes", Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgb(255, 0, 0), 0 0 20px rgba(255, 0, 0), 0 0 30px rgba(255, 0, 0), 0 0 40px #727272, 0 0 70px #727272, 0 0 80px #4e4e4e, 0 0 100px #2b2b2b;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    width: 100%;
    margin-top: 10px;
}

.LT-titulo:hover {
    text-shadow: 0 0 10px rgb(69, 0, 109), 0 0 20px rgb(73, 0, 95), 0 0 30px rgb(57, 0, 68), 0 0 40px #580054, 0 0 70px #000000, 0 0 80px #000000, 0 0 100px #000000;
}

  /*Envoltura*/
.wrapper{
    max-width: 1080px;
    margin: 30px auto;
    padding: 0 20px;
    position: relative;
}

.wrapper .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: #d1d1d1;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.wrapper .fila{
    display: flex;
}

.wrapper .fila section{
    background: #fff;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
    box-shadow: 0 0 0 4px #fff, inset 2px 2px rgba(0, 0, 0, 0.253), 3px 4px rgba(0, 0, 0, 0.144);
}

.wrapper .fila section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
}

  /*izquierda*/
.wrapper .fila-1{
    justify-content: flex-start;
}

.fila-1 section::before{
    right: -7px;
}

.fila-1 section .icon{
    top: 15px;
    right: -60px;
}

/*derecha*/
.wrapper .fila-2{
    justify-content: flex-end;
}

.fila-2 section::before{
    left: -7px;
}

.fila-2 section .icon{
    top: 15px;
    left: -60px;
}

/*Botón subir arriba*/
.center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}

/*Líneas*/
.fila section .icon,
.center-line .scroll-icon{
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  color: #89009b;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.253), 0 3px 0 4px rgba(0, 0, 0, 0.144);
}

.fila section .detalle,
.fila section .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fila section .detalle .titulo{
  font-size: 22px;
  font-weight: 600;
}

.fila section p{
  margin: 10px 0 17px 0;
}

/*Botones leer más*/
/*.fila section .bottom a{
  text-decoration: none;
  background: #2f003d;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  font-weight: 400;
  transition: all 0.3s ease;
}

.fila section .bottom a:hover{
  transform: scale(0.97);
  background: #9f00cf;
}*/

@media(max-width: 1250px){

    .linea-tiempo{
        width: 100%;
        margin-left: 10px;
    }
}

@media(max-width: 790px){

    .wrapper .center-line{
      left: 40px;
    }

    .wrapper .fila{
      margin: 30px 0 3px 60px;
    }

    .wrapper .fila section{
      width: 100%;
    }

    .fila-1 section::before{
      left: -7px;
    }

    .fila-1 section .icon{
      left: -60px;
    }
}

@media(max-width: 440px){

    .wrapper .center-line,
    .fila section::before,
    .fila section .icon{
      display: none;
    }

    .wrapper .fila{
      margin: 10px 0;
    }
}


/*************** Historia de Rectoras **************/
.lts-rectoras{
    max-width: 1200px;
    padding: 20px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rect-titulo {
    width: 100%;
}

.rect-titulo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 38px;
    color: var(--color5-cas-azu);
    text-align: center;
}

.rectora{
    width: 300px;
    position: relative;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 20px;
    background: #ccdaff;
}

.rectora:hover{
    box-shadow: 1px 1px 20px -10px #20202049;
}

.rectora:hover .rectora-info{
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
}

.rectora:hover img{
    margin-top: -110px;
    border-radius: 20px 20px 0px 0px;
}

.rectora img{
    width: 100%; 
    height: 320px;
    background: #ccdaff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
    border-radius: 20px;
}

.rectora-info{
    width: 100%;
    height: 120px;
    /*color: #474747;*/
    background: var(--color4-med-azu);
    padding: 20px;
    margin-top: -120px;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
    border-radius: 20px;
}

.rectora-info h2{
    font-size: 18px;
    color: black;
    margin-top: 10px;
    text-align: center;
    transition: all 400ms;
}