@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color0-blanco: #ffffff;
    --color1-med-neg: #0d0d0d;
    --color2-med-blan: #f2f2f2;
    --color3-plo-azu: #5e6a8c;
    --color4-med-azu: #4960a6;
    --color5-cas-azu: #2e3559;
    --color6-color3-opa: #56638ce0;
    --color7-azu-opa: #252b476c;
    --color8-color3-opa1: #868ea667;
    --color9-vino: #8c1c31;
}

main{
    width: 100%;
    margin: auto;
}

/****************** Referente a los Slider ******************/
.container-slider{
    position: relative;
    width: 100%;
    /*width: 800px;*/
    height: 400px;
    margin-top: 100px;
    border: 3px solid white;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.container-slider .slider{
    width: 100%;
    /*height: calc(100% - 40px);*/
    height: 100%;
    position: relative;
    overflow: hidden;
}

.container-slider .slider img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: fill;
}

.container-slider .slider img:not(.active){
    top: 0;
    left: -100%;
}

span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px;
    color: #eee;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}

span.next{
    right: 20px;
}

span.prev{
    left: 20px;
}

span.next:hover, span.prev:hover{
    background-color: #ede6d6;
    opacity: 0.8;
    color: #222;    
}

.container-paginacion{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);

    /*display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;*/
}

.container-paginacion .active{
    background-color: #555;
}

.container-paginacion .paginacion{
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

    /*display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 25px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;*/
}
/*
.container-paginacion .paginacion:hover{
    transform: scale(2);
}

.container-paginacion .paginacion img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.container-paginacion .paginacion:hover img{
    opacity: 1;
    transform: scale(1);
}*/


@keyframes next1{

    from{
        left: 0%;
    }

    to{
        left: -100%;
    }
}

@keyframes next2{

    from{
        left: 100%;
    }

    to{
        left: 0%;
    }
}

@keyframes prev1{

    from{
        left: 0%;
    }

    to{
        left: 100%;
    }
}

@keyframes prev2{

    from{
        left: -100%;
    }

    to{
        left: 0%;
    }
}

@media (max-width: 1100px){
    
    .container-slider{
        height: 300px;
    }
}

@media (max-width: 777px){

    .container-slider{
        height: 200px;
    }

    .card{
        width: 300px;
        height: 200px;
    }
}

/*************** Para tarjetas en 3D - oferta educativa ********/
.oferta-educativa{
    width: 100%;
    scroll-margin-top: 12ex;
    /*background: blue;*/
}

.oferta-educativa .text-oferta{
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    /*background: goldenrod;*/
}

.oferta-educativa .text-oferta h2{
    font-family: 'Source Serif 4', serif;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.container_card{
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card_father{
    margin: 20px;
    perspective: 1000px;
}

.card_father:hover .card{
    transform: rotateY(180deg);
}

.card{
    width: 350px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card_front,
.card_back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card_front{
    background-size: cover;
    background-position: center;
}

.card_back{
    transform: rotatey(180deg);
    background: white;
}

.body_card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.body_card_back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.body_card_back p{
    margin-top: 30px;
    font-size: 18px;
}

.body_card_back input{
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58b0f6;
    box-shadow: 1px 1px 30px -5px #58b0f6;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.body_card_back input:hover{
    box-shadow: 1px 1px 30px 0px #449de6;   
}


@media (max-width: 777px){

    .card{
        width: 300px;
        height: 300px;
    }

    .body_card_back p{
        margin-top: 20px;
        font-size: 14px;
    }
}


/********************* Noticas SDG ********************/
.noticia-sdg{
    width: 100%;
    height: 535px;
    *position: relative;
    /*background: white;*/
}
.container-noticias{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    /*background: yellowgreen;*/
}

.text-noticia{
    height: 50px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: yellowgreen;*/
}

.text-noticia h2{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.container_article{
    height: 465px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*background: blueviolet;*/
}

.container_article .card-notiSDG{
    background: var(--color0-blanco);
    width: 250px;
    height: 450px;
    margin: 10px;
    border-radius: 15px;
}

.card_imagen{
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card-noti1{
    background-image: url(../imagen/noticias-sdg/principal/noticia01.jpg);
}

.card-noti2{
    background-image: url(../imagen/noticias-sdg/principal/noticia02.jpg);
}

.card-noti3{
    background-image: url(../imagen/noticias-sdg/principal/noticia03.jpg);
}

.card-notiSDG h2{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.card-notiSDG p{
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.card-notiSDG a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.card-notiSDG:hover{
    background-color: rgb(62, 62, 62);
    color: white;
    /*cursor: pointer;*/
    transform: scale(1.03);
    transition: all 1s ease;
}

.card-video{
    width: 50%;
    height: 450px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    /*background: red;*/
}

.video-sdg{
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /*background: yellow;*/
}

.video-sdg::after{
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
}

.video-conf{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*background: maroon;*/
}

@media screen and (max-width: 1139px) {
    
    .noticia-sdg{
        height: 500px;
    }
  
}

@media screen and (max-width: 1119px) {
    
    .noticia-sdg{
        height: 850px;
    }
  
    .card-video{
        width: 500px;
        height: 350px;
        margin: 0px;
    }

}

@media screen and (max-width: 579px) {
    
    .noticia-sdg{
        height: 1170px;
    }

    .card-video{
        width: 250px;
        height: 200px;
        margin: 0px;
    }

}

@media screen and (max-width: 270px) {
    
    .noticia-sdg{
        height: 1220px;
    }

    .container_article .card-notiSDG{
        height: 500px;
    }

    .video-conf{
        margin-top: 10px;
    }
}

/***************** Servicios Educativos ******************/
.servicio-educativo{
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    /*background: maroon;*/
}

.container-serv-edu{
    max-width: 1200px;
    width: 100%;
    position: relative;
    margin-right: 20px;
}

.container-serv-edu .text-serv-edu{
    max-width: 1200px;
    height: 100px;
    margin: auto;
    /*margin-top: 40px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: yellowgreen;*/  
}

.container-serv-edu .text-serv-edu h2{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.container-serv-edu i{
    height: 40px;
    width: 40px;
    background: white;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 60%;
    font-size: 1.25rem;
    z-index: 2;
    *transform: translateY(-100%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container-serv-edu i:first-child{
    left: -22px;
}

.container-serv-edu i:last-child{
    right: -22px;
}

.container-serv-edu .carrusel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 20px);
    margin-left: 30px;
    gap: 20px;
    /*overflow: hidden;*/
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carrusel::-webkit-scrollbar{
    display: none;
}

.carrusel :where(.card, .imagen){/*esto es para centrar los dos clases*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrusel.no-transition{
    scroll-behavior: auto;
}

.carrusel.arrastrarFin{
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carrusel.arrastrarFin .card{
    cursor: grab;
    user-select: none;
}

.carrusel .card{
    scroll-snap-align: start;
    width: 280px;
    height: 150px;
    list-style: none;
    position: relative;
    text-align: center;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card .imagen{  
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.card .imagen img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
}

.card .texto-cardSE{
    position: absolute;
    font: bold 20px/1 arial;
    text-transform: uppercase;
    bottom: 5px;
    text-shadow: 0 2px 0 #3b4e15;
}

.card .texto-cardSE a{
    color: yellowgreen;
}

.card .texto-cardSE a:hover{
    color: white;
}

@media screen and (max-width: 1300px) {
    
    .container-serv-edu .carrusel{
        grid-auto-columns: calc((100% / 3) - 12px);
    }
}

@media screen and (max-width: 940px) {
    
    .container-serv-edu .carrusel{
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 650px) {
    
    .container-serv-edu .carrusel{
        grid-auto-columns: 100%;
    }
}

@media screen and (max-width: 387px) {
    
    .container-serv-edu .text-serv-edu h2{
        font-size: 22px;
    }
}


/************* Certificaciones y Convenios **************/

.container-alianzas{
    width: 100%;
    /*background: white;*/
}

.certificacion-convenio{
    max-width: 1200px;
    height: 400px;
    margin: auto;
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;*/
}

.certificacion-all{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.certificacion-all .text-certificacion{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /*background: cornflowerblue;*/
}

.certificacion-all .text-certificacion h3{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.certificacion-all .certificacion{
    width: 100%;
    height: 170px;
    /*background: coral;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.certificacion-sdg{
    width: 150px;
    height: 100px;
    margin-right: 10px;
}

.certificacion-sdg img{
    width: 100%;
    height: 100%;
}


.convenio-all{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.convenio-all .text-convenio{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: burlywood;*/
}

.convenio-all .text-convenio h3{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.convenio-all .convenio{
    width: 100%;
    height: 170px;
    /*background: magenta;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.convenio-sdg{
    width: 150px;
    height: 100px;
    margin-right: 10px;
}

.convenio-sdg img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 700px) {
    
    .container-alianzas{
        height: 470px;
    }

    .certificacion-all{
        margin-bottom: 30px;
    }

    .certificacion-convenio{
        flex-direction: column;
    }
}