@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f2f2f2;
}

/*#56638c, #868ea6*/
/*************** Relacionado al Header **************/
header{
    width: 100%;
    height: 105px;
    position: fixed;
    top: 0; /*obligar que este pegado arriba*/
    right: 0; /*obligar que este pegado a lado derecho*/
    z-index: 100;
    background: #2e3559; 
    *background: #56638c;
    *background: #868ea6;
    transition: all 300ms;
}

.container-header{
    max-width: 1200px;
    height: 100%;
    flex-direction: column;
    margin: auto;
    padding: 5px 20px;  
}

.header1{
    max-width: 1200px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;   
}

/*******************************/
.header1  .header-telef{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header1  .header-telef i{
    font-size: 12px;
    margin-right: 7px;
    color: #f2f2f2;
}

.header1  .header-telef label{
    font-size: 10px;
    font-weight: 400;
    color: #f2f2f2;
}

/*******************************/
.header1  .header-email{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.header1  .header-email i{
    font-size: 12px;
    margin-right: 7px;
    color: #f2f2f2;
}

.header1  .header-email a{
    font-size: 10px;
    font-weight: 400;
    color: #f2f2f2;
}

.header1  .header-email a:hover{
    color: #c5c5c5;
}

/********************************/
.header-division {
    height: 2px;
    margin-top: 2px;
    border: none;
    height: 1px;
    background: #930001;
    opacity: 0.4;
}
/********************************/

.header2{
    max-width: 1200px;
    height: 78px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.logo{
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    z-index: 1;
}

.logo img{
    width: 300px;
    right: 0;
    cursor: default;
}

.menu{
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu nav ul li{
    list-style: none;
    margin: 0px 16px;
}

.menu nav ul li a{
    color: black;
    font-size: 14px;
    position: relative;
    font-weight: 500;
    color: white;
}

.menu nav ul li a:hover{
    color: #c5c4c4;
}

.btn-inicio{/*#56638c, #868ea6*/
    background: #56638c;
    padding: 8px 30px;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #8a9bd149;
    cursor: pointer;
    transition: box-shadow 500ms;
}

.btn-inicio:hover{
    box-shadow: 1px 1px 30px -5px #8a9bd194;
}


/****** Modificacion de la barra de navegacion *******/
.naveg-movi{
    height: 98px;
    box-shadow: 1px 1px 10px 0px #56638ce0;
    background: #2e3559; 
}
/******************* Termina Header ********************/




.texto{
    max-width: 1200px;
    margin-top: 100px;
    padding: 0px 20px;
    margin: auto;
}

.texto h1{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto p{
    margin-top: 20px;
}






/*********** Footer ********************/
footer{
    width: 100%;
    background-image: url(../imagen/background-footer.svg);
    background: #2e3559;
    color: white;
}

.container-footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.columna1{
    max-width: 400px;
}

.columna1 h2{
    font-size: 25px;
    font-family: 'Kalam', sans-serif;
    font-weight: 700;
    margin-top: 15px;
    text-align: center;
}

.columna2{
    max-width: 400px;
}

.columna3{
    max-width: 400px;
    margin-top: 10px;
}

.columna3 .informacion{
    margin-top: 10px;
    display: flex;
}

.columna3 .direccion{
    color: #dee7ec;
}

.columna3 .informacion p{
    margin-left: 15px;
    max-width: 200px;
    font-size: 12px;
    color: #dee7ec;
}

.columna3 .telefono{
    color: #dee7ec;
}

.columna3 .redes{
    justify-content: space-between;
}

.columna3 .icon-inf{
    font-size: 20px;
    align-self: center;
    color: #dee7ec;
}

.informacion .icon-redes{
    font-size: 20px;
    margin: 5px;
    color: #dee7ec;

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.columna3 .redes .fa-facebook-f:hover{
    background: #41579a;
    color: white;
}

.columna3 .redes .fa-twitter:hover{
    background: #1DA1F2;
    color: white;
}

.columna3 .redes .fa-instagram:hover{
    background: linear-gradient(to top right, #fcde30, #e9712a, #d2313b, #ae4198, #7540a1, #5443ab);
    color: white;
}

.columna3 .redes .fa-youtube:hover{
    background: #FF0000;
    color: white;
}

.container-derechos{
    width: 100%;
    background: #252b49;
}

.footer-hijo{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.copyright{
    display: flex;
    align-items: center;
}

.copyright p{
    color: #dee7ec;
    font-size: 10px;
}

.terminos{
    display: flex;
    align-items: center;
}

.terminos a, pre{
    text-decoration: none;
    color:#dee7ec;
    font-size: 10px;
}

@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }

    .columna3{
        margin-top: 40px;
    }
}




/********************Todo lo que es Whastapp*************/
.appWhatsapp{
    right: 25px;
    bottom: 65px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #00bb2d;
    color: white;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;

    z-index: 1000;
}

.appWhatsapp:hover{
    background: white;
    color: #00bb2d;
}

.appWhatsapp i{
    font-size: 30px;
}
