@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-family: '';
}

:root{
    --color0-blanco: #ffffff;
    --color1-med-neg: #0d0d0d;
    --color2-med-blan: #f2f2f2;
    --color3-plo-azu: #868ea6;
    --color4-med-azu: #56638c;
    --color5-cas-azu: #2e3559;
    --color6-color3-opa: #56638ce0;
    --color7-azu-opa: #252b476c;
    --color8-color3-opa1: #868ea667;
}

body{
    background: var(--color2-med-blan);
}

/*************** Relacionado al Header **************/
header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0; 
    right: 0; 
    z-index: 100;
    transition: all 300ms;
}

.container-up{
    width: 100%;
    height: 20px;
    background: var(--color5-cas-azu);
    transition: all 300ms;
}

.container-down{
    width: 100%;
    height: 80px;
    background: var(--color0-blanco);
    transition: all 300ms;
}

.container-header1{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;   
}

.container-header2{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;  
}

/*******************************/
.container-header1  .header-telef{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-header1  .header-telef i{
    font-size: 12px;
    margin-right: 7px;
    color: var(--color0-blanco);
}

.container-header1  .header-telef label{
    font-size: 10px;
    font-weight: 500;
    color: var(--color0-blanco);
}

/*******************************/
.container-header1  .header-email{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.container-header1  .header-email i{
    font-size: 12px;
    margin-right: 7px;
    color: var(--color0-blanco);
}

.container-header1  .header-email a{
    font-size: 10px;
    font-weight: 500;
    color: var(--color0-blanco);
}

.container-header1  .header-email a:hover{
    color: #c5c5c5;
}

.logo{
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.logo img{
    width: 300px;
}

.container-naveg{
    height: 100%;
    position: relative;
}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul > li{
    height: 100%;
    margin: 0px 10px;
    list-style: none;
    position: relative;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    color: var(--color5-cas-azu);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    text-transform: uppercase;
}

nav > ul > li > a:hover{
    color: #c5c4c4;
    transform: scale(1.1);
    *background: #0074c7;
}


/***************** Para los submenus *************************/
nav ul li ul{
    width: 150px;
    display: flex;
    flex-direction: column;
    background: var(--color3-plo-azu);
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 80px;
}

nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid var(--color3-plo-azu);
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: var(--color5-cas-azu);
    padding: 6px;
    padding-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav ul li ul li a:hover{
    background: var(--color4-med-azu);
    border-radius: 5px;
    color: var(--color0-blanco);
    transform: scale(1.1);
    padding-left: 20px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

nav ul li ul li{
    height: 100%;
    list-style: none;
    position: relative;
}


/*************************************************************/

.cont-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-inicio{
    width: 120px;
    height: 45px;
    background: var(--color2-med-blan);
    padding: 8px 30px;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #8a9bd149;
    cursor: pointer;
    transition: all 300ms ease;
    /*transition: box-shadow 500ms;*/
}

.btn-inicio:hover{
    box-shadow: 1px 1px 30px -5px #8a9bd194;
}


/****** Modificacion de la barra de navegacion *******/
.naveg-movi{
    height: 70px;
    /*box-shadow: 1px 1px 10px 0px var(--color6-color3-opa);*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    background: var(--color5-cas-azu); 
}

.naveg-movi1{
    height: 15px;
    /*box-shadow: 1px 1px 10px 0px var(--color6-color3-opa);*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    background: var(--color5-cas-azu); 
}

.naveg-movi2{
    height: 70px;
    /*box-shadow: 1px 1px 10px 0px var(--color6-color3-opa);*/
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    background: var(--color0-blanco); 
}

/******************* Termina Header ********************/

/**************** Para el icono de menu ***************/
.btn-menu{
    width: 50px;
    height: 50px;
    color: var(--color4-med-azu);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 300ms;
    display: none;
}

.btn-menu:hover{
    background: var(--color8-color3-opa1);
}

@media screen and (max-width: 969px){
    
    .btn-menu{
        display: flex;
    }

    .container-naveg{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img{
        width: 250px;
    }

    .move-naveg{
        /**right: 0px;*/
        height: 300px;
        visibility: visible;
        opacity: 1;
    }

    /*nav{
        height: 100%;
        background: var(--color0-blanco);
        position: fixed;
        top: 0px;
        right: -180px;
        padding: 0px 40px;
        transition: all 300ms;
    }  **/ 

    nav > ul{
        flex-direction: column;
        background-color: var(--color0-blanco);
        position: fixed;
        left: 0;
        top: 100px;
        width: 200px;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }

    nav > ul > li{
        height: 50px;
        left: 0;
    }

    nav > ul > li > a:hover{
        transform: scale(1);
    }

    nav ul li ul{
        left: 90px;
    }

    nav ul li:hover ul{
        top: 45px;
    }

    /*nav > ul > li{
        margin: 20px 0px;
    }

    nav > ul > li > a{
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-end;
    }*/

    .naveg-movi3{
        top: 85px;
        /*height: 100px;
        *box-shadow: 0px 1px 10px 0px var(--color6-color3-opa);
        *background: var(--color0-blanco); */
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }
}

@media screen and (max-width: 410px){

    .header-telef i{
        font-size: 6px;
    }
    
    .header-telef label{
        font-size: 5px;
        font-weight: 100;
    }

    .header-email i{
        font-size: 6px;
    }
    
    .header-email a{
        font-size: 5px;
        font-weight: 200;
    }
}
/****** Este es para desplazar menu ***************/
/*.move-content{
    *right: 180px;
}*/
/**************************************************/







/****************************** MUESTRA ***************************************/
.cover{
    width: 100%;
    padding-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    /*background: #fc0909;*/
}

.container_article{
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container_article .box_article{
    width: 200px;
    height: 250px;
    background: var(--color0-blanco);
    margin: 20px;
}






/******************************************************/

.texto{
    position:relative;
    right: 0;
    /*
    max-width: 1200px;
    margin-top: 100px;
    padding: 0px 20px;
    margin: auto;*/
}

.texto h1{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto p{
    margin-top: 20px;
}



/****** Contenedor de whastapp y messenger ******/
.whast-messeng{
    position: fixed;
    bottom: 20px;
    right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.whast-messeng a{
    margin-top: 4px;
}
.whast-messeng img{
    width: 50px;
    padding: 4px;
    background: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    border-radius: 100%;
    transition: all 300ms;
}

.whast-messeng a:hover img{
    background: rgba(0, 0, 0, 0.10);
}

/*********** Footer ********************/
footer{
    width: 100%;
    *background-image: url(../imagen/background-footer.svg);
    background: var(--color5-cas-azu);
    color: var(--color0-blanco);
}

.container-footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.columna1{
    max-width: 400px;
}

.columna1 h2{
    font-size: 25px;
    font-family: 'Kalam', sans-serif;
    font-weight: 700;
    margin-top: 15px;
    text-align: center;
}

.columna2{
    max-width: 400px;
}

.columna3{
    max-width: 400px;
    margin-top: 10px;
}

.columna3 .informacion{
    margin-top: 10px;
    display: flex;
}

.columna3 .direccion{
    color: var(--color2-med-blan);
}

.columna3 .informacion p{
    margin-left: 15px;
    max-width: 200px;
    font-size: 12px;
    color: var(--color2-med-blan);
}

.columna3 .telefono{
    color: var(--color2-med-blan);
}

.columna3 .redes{
    justify-content: flex-start;
}

.columna3 .icon-inf{
    font-size: 20px;
    align-self: center;
    color: var(--color2-med-blan);
}

.informacion .icon-redes{
    font-size: 20px;
    margin: 2px;
    color: var(--color2-med-blan);

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.columna3 .redes .fa-facebook-f:hover{
    background: #41579a;
    color: white;
}

.columna3 .redes .fa-twitter:hover{
    background: #1DA1F2;
    color: white;
}

.columna3 .redes .fa-instagram:hover{
    background: linear-gradient(to top right, #fcde30, #e9712a, #d2313b, #ae4198, #7540a1, #5443ab);
    color: white;
}

.columna3 .redes .fa-youtube:hover{
    background: #FF0000;
    color: white;
}

.columna3 .redes .fa-tiktok:hover{
    background: black;
    color: white;
}

.container-derechos{
    width: 100%;
    background: var(--color7-azu-opa);
}

.footer-hijo{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.copyright{
    display: flex;
    align-items: center;
}

.copyright p{
    color: var(--color2-med-blan);
    font-size: 10px;
}

.terminos{
    display: flex;
    align-items: center;
}

.terminos a, pre{
    text-decoration: none;
    color:var(--color2-med-blan);
    font-size: 10px;
}

@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
        justify-content: center;
    }

    .columna3{
        margin-top: 40px;
    }

    .footer-hijo{
        flex-direction: column;
        align-items: center;
    }

    .copyright p{
        left: 20px;
    }
}




/********************Todo lo que es Whastapp*************/
/*.appWhatsapp{
    right: 25px;
    bottom: 75px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #00bb2d;
    color: white;
    width: 43px;
    height: 43px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
    z-index: 1000;
}

.appWhatsapp:hover{
    background: white;
    color: #00bb2d;
}

.appWhatsapp i{
    font-size: 27px;
}*/
