@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.lts-rectoras{
    max-width: 1200px;
    padding: 20px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rect-titulo {
    width: 100%;
}

.rect-titulo h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 38px;
    color: rgb(35, 8, 109);
    text-align: center;
}

.rectora{
    width: 300px;
    position: relative;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 20px;
    background: #ccdaff;
}

.rectora:hover{
    box-shadow: 1px 1px 20px -10px #20202049;
}

.rectora:hover .rectora-info{
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
}

.rectora:hover .img{
    margin-top: -110px;
    border-radius: 20px 20px 0px 0px;
}

.rectora img{
    width: 100%; /*este es para que tenga un ancho maximo de su padre*/
    height: 320px;
    background: #ccdaff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;/*para que el z-index funcione se debe de colocar anteriormente position:relativa*/
    *opacity: 0.5;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
    border-radius: 20px;
}

.rectora-info{
    width: 100%; /*este es para que tenga un ancho maximo de su padre*/
    height: 120px;
    /*color: #474747;*/
    background: #4960a6;
    padding: 20px;
    margin-top: -120px;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
    border-radius: 20px;
}

.rectora-info h2{
    font-size: 18px;
    color: black;
    margin-top: 10px;
    text-align: center;
    transition: all 400ms;

    /*Este es para recortar texto */
    /*display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;*/
}